.app {
    display:grid;
    place-items: center;
    height:100vh;
    background-color: #f0b593;
   }
   .app__body{
     display: flex;
     background-color: #ededed;
     margin-top: -50px;
     height: 90vh;
     width: 90vw;
     box-shadow: -1px 4px 20px -6px rgb(105, 1, 165);
   }