.user_inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.user_inputfile + label {
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.user_upload{
    display: flex;
    align-items: center;
}